<h1>Here are all of your current clients</h1>
<ul>
  <% @clients.each do |client| %>
    <li><%= client.name %></li>
    <ul>
      <li>Items bought:</li>
      <ul>
        <!-- <% if client.items %> -->
          <% client.items.each do |item| %>
            <li><%= item.name %></li>
          <% end %>
        <!-- <% end %> -->
      </ul>
      <li>Services bought:</li>
      <ul>
        <!-- <% if client.services %> -->
          <% client.services.each do |service| %>
            <li><%= service.name %></li>
          <% end %>
        <!-- <% end %> -->
      </ul>
    </ul>
  <% end %>
</ul>
